mixin person(name, title, img, contact, links)
  div
    img(src=fileRoot + "images/" + img, alt="photo", title=name)
    .bio
      h4 #[!= offsite(contact, name)] &ndash; #{title}
      block
      if links
        ul.social: each link in links
          li: a(href=link.href, target="_blank", rel="noopener")
            span(class="icon-" + link.type, title=link.type + " logo")
            != link.desc

article#about
  
  h3 About Us

  p Highland Advancement Solutions helps nonprofit organizations assess, mitigate, and refine fundraising operations. We specialize in #[i The Raiser's Edge], #[i Raiser's Edge NXT], #[i Advance], #[i Salesforce], #[i Little Green Light], and #[i Bloomerang]. 

  p We believe in customized solutions for your organization. We are dedicated to working with you to discover what is needed and to creating a plan that will work for you to fulfill your mission&emdash;all with minimal demands on your staff's valuable time.
  

  h3 Leadership Team

  section.leadership

    +person(
      "Melody McBeth",
      "Principal",
      "Melody_McBeth" + jpgExt,
      "mailto:melody@highlandas.com?subject=\"Website contact\"", [
        { type: "linkedin",
          desc: "View Melody's profile on LinkedIn",
          href: "https://www.linkedin.com/in/melodymcbethhfrs" }
      ])
      p Melody founded Highland Advancement Solutions with the objective of helping nonprofit organizations fulfill their missions and serve their donors. Through more than 20 years in the development field, she has served as a solicitor, volunteer manager, event coordinator, database system administrator, senior Crystal Reports architect, and director of advancement services. As principal, she provides consulting and guidance to nonprofit management teams concerning data standardization, operational challenges, change management, and advancement best practices. 

      p Before her nonprofit career, Melody served in the Army, managed several businesses&emdash;including a martial arts studio&emdash;and held state and local offices with the Pennsylvania Jaycees. She has extensive volunteer experience, and is currently a member of two committees and chair of the #[!= offsite("https://www.advserv.org/?page=Committees", "Curriculum Committee")] for the #[!= offsite("https://www.advserv.org/", "Association of Advancement Services Professionals (AASP)")]. She is also a member of the Association of Donor Relations Professionals, the Association of Professional Researchers for Advancement, and the Willamette Valley Development Officers. Her cross-industry experience has proven vital to formulating highly successful solutions to sticky data challenges.

      p She is the recipient of the Council for the Advancement and Support of Education (CASE), the Circle of Excellence Silver Award for Advancement Services Programs, the Overall Operations from AASP, the Volunteer of the Year Award from AASP, and the Volunteer of the Year Award from the Pennsylvania Jaycees. Melody is a talented trainer and a frequent presenter at regional and national conferences.

      p Melody lives in southcentral Pennsylvania where she enjoys reading and the view of the mountains.

    +person(
      "Roxanne Thurston",
      "Senior Consultant",
      "Roxanne_Thurston" + jpgExt,
      "mailto:roxanne@highlandas.com?subject=\"Website contact\"", [
        { type: "linkedin",
          desc: "View Roxanne's profile on LinkedIn",
          href: "https://www.linkedin.com/in/roxannethurston" }
      ])
      p Roxanne is an experienced advancement professional who specializes in constituent relationship management technology, strategy, and implementation for a wide range of complex organizations. As a senior consultant she evaluates, implements, and empowers users to get the most out of their database system, with a specialty in the Raiser’s Edge.

      p Prior to joining HAS, Roxanne was the director of alumni affairs at Thomas Edison State University where she focused on the design, development, and delivery of cost-effective, high-performance technology solutions to meet challenging organizational demands. 

      p Roxanne holds Blackbaud certification in the Raiser's Edge at the Professional Level (bCRE-Pro) and a Cybersecurity Certificate from Texas A&M Engineering Extension Service. She is a member and volunteer with the Association of Advancement Services Professionals (AASP), Council for Advancement and Support of Education (CASE), Association of Professional Researchers for Advancement (APRA), and the Princeton Regional Chamber of Commerce Community Development Fund.

      p An animal lover and world traveler, Roxanne lives near Richmond, Virginia.

    +person(
      "DeWayna Hogue Pittman",
      "Senior Consultant",
      "DeWayna_Hogue_Pittman" + jpgExt,
      "mailto:dewayna@highlandas.com?subject=\"Website contact\"", [
        { type: "linkedin",
          desc: "View DeWayna's profile on LinkedIn",
          href: "https://www.linkedin.com/in/" }
      ])
      p DeWayna is a talented advancement professional with expertise in donor relations and operational management. As a senior consultant, she directs comprehensive efforts to ensure that donors experience high-quality interactions and that nonprofits strive to strengthen donor relationships to foster long-term engagement and investment. She is dedicated to instilling and enhancing a culture of gratitude in organizations.

      p Formerly assistant director of donor relations and operations at a private school where she also managed onboarding and training and supervised the administrative team, DeWayna has experience as a personnel manager, business council leader, and grant program coordinator. 

      p DeWayna is a member and newsletter contributor with the Association of Donor Relations Professionals (ADRP) and a member of the Association of Advancement Services Professionals (AASP). She is an active community volunteer with arts and education organizations.

      p A mixed media artist and lover of books, DeWayna lives in southcentral Pennsylvania.



  h3 Campaign Consulting Group
  section.leadership.consultants

    +person(
      "Dr. Wayne Combs",
      "Managing Consultant",
      "Wayne_Combs" + jpgExt,
      "https://www.waynecombs.com/", [
        { type: "linkedin",
          desc: "View Dr. Combs' profile on LinkedIn",
          href: "https://www.linkedin.com/in/dr-wayne-combs-104a21" }
      ])
      details 
        summary Wayne partners with HAS as a leader in advancement and campaign management with over 25 years of experience implementing programs and technology solutions in education and healthcare institutions.

        p Formerly the associate dean, advancement operations and constituent programs for USC Dornsife College of Letters, Arts and Sciences, Wayne has also served as director of advancement services and information management, manager of gift, data and record services, and as campaign operations manager. He began his career training advancement staff in the use of software and fundraising technology at UCLA. 

        p Currently teaching in the organizational change and leadership doctoral program at USC Rossier School of Education, Wayne is actively involved as a member of the board of directors for the Association of Advancement Services Professionals (AASP) and as conference chair and faculty of the #[!= offsite("http://www.case.org/", "Council for the Advancement and Support of Education (CASE)")].

    +person(
      "Lynne Becker",
      "Senior Consultant",
      "Lynne_Becker" + jpgExt,
      "tel:+0113016336992", [
        { href: "https://www.linkedin.com/in/lynne-becker-b711862",
          type: "linkedin",
          desc: "View Lynne's profile on LinkedIn" },
        { type: "telephone",
          desc: "Contact Lynne by phone at 301.633.6992",
          href: "tel:+0113016336992" }
      ])
      details
        summary Lynne collaborates with HAS to provide comprehensive services for fundraising, specializing in change management and organizational behavior issues. An expert and pioneer in the advancement services profession, Lynne is passionate about educating fundraising leaders.

        p Principal at eAdvancement Services, Lynne previously served as senior counsel with Advancement Solutions, where clients included nonprofits such as the American Red Cross, Big Brothers and Big Sisters, Arthritis Foundation, YWCA, and the Girl Scouts of America. She has consulted with numerous organizations on preparation for major fundraising campaigns, transition to new database systems, process improvement opportunities, and reorganization efforts for optimal efficiency. 

        p Lynne is a founding member and long-time leader of the Association of Advancement Services Professionals (AASP), which awarded her its Jonathan Lindsay Life Time Achievement Award. She is also a recipient of the Council for Advancement and Support of Education (CASE) Crystal Apple Award for excellence in teaching. 


  h3 Affiliations
  section.partners

    p: em
      strong Highland prefers these fine providers to give our client partners access to the best solutions for their issues. #[br]
      | We do not receive a commission or other benefit from this association. 

    +person(
      "Donor Relations Guru",
      "Strategic Partner",
      "DRG_logo" + pngExt,
      "http://www.donorrelationsguru.com/", [
        { type: "linkedin",
          desc: "View group profile on LinkedIn",
          href: "https://www.linkedin.com/groups/5095536"},
        { type: "twitter",
          desc: "Follow @DonorGuru on Twitter",
          href: "https://twitter.com/DonorGuru" }
      ])
      p Lynne Wester, Founder, Donor Relations Guru and the DRG Group, consult with non-profit organizations to improve the donor experience.

      p With over 150 collective years of advancement and fundraising expertise, the DRG Group works to educate and lead non-profit organizations in the best practices of donor relations, event management, impact reporting, talent management, and acknowledgment documentation through webinars, conferences, and on-site consulting. They seek to perpetuate an "Attitude of Gratitude".
    
    +person(
      "DonorSearch",
      "Preferred Partner",
      "DonorSearch_logo" + pngExt,
      "https://www.donorsearch.net/")
      p DonorSearch was founded in 2007 with one goal: to provide more accurate, more comprehensive, more actionable data to help nonprofits of all types achieve better fundraising and outreach results.

      p Headed by industry veterans, DonorSearch is a leading provider of prospect research to nonprofits of all types, including charities, healthcare organizations, fraternities/sororities, religious organizations and educators.

      p Using information from 25 databases, DonorSearch uses proprietary algorithms to help clients find the best philanthropic prospects. DonorSearch’s data can be easily integrated with most common donor management and general sales software, putting critical donor information at a client’s fingertips.

    +person(
      "Omatic",
      "Preferred Partner",
      "Omatic_logo" + pngExt,
      "https://omaticsoftware.com/", [
        { type: "linkedin",
          desc: "View Omatic's profile on LinkedIn",
          href: "https://www.linkedin.com/company/1139814" },
        { type: "twitter",
          desc: "Follow @Omatic_Software on Twitter",
          href: "https://twitter.com/Omatic_Software" }
      ])
      p Omatic Software is dedicated to integrating disparate systems and democratizing data access for today's nonprofits. Founded in 2002, Omatic has worked with thousands of nonprofits globally to remove their data barriers by integrating systems and enabling nonprofit teams to leverage their donor data rather than be burdened by it. The Omatic team has one goal - unleashing the power of data to show a complete view of your donor, enabling data-driven decision making and opportunity creation for your organization.

  section#testimonials.rotator(data-timeout="10000", style="height:221px")

    blockquote
      p Melody has an extensive knowledge of fundraising techniques and donor software, so her work is geared toward making the software produce greater fundraising results. She looks beneath the surface to determine both digital and human solutions to inconsistencies. We have made great strides in cleaning up our data base and utilizing its capabilities under her guidance and our donor information services area is working better than ever.
      cite Oregon Episcopal School

    blockquote
      p Melody was great to work with at Children's National. She understood our fundraising database and the Special Events team needs to get the information (data about individuals) quickly, in the right format and correct. She knew it was important to educate leadership and the staff on processes for entering and looking at data that will make fundraising more successful for the Foundation. Melody was a team player and a pleasure to work with.
      cite Children's National Medical Center

    blockquote
      p Melody is a consummate professional, who can and has stepped up her leadership skills when it was most needed. Pulled together a team and given them direction and pushed them to continue to go beyond their expected deliverables. She has my highest recommendation!
      cite Mercersburg Academy

    blockquote
      p Melody is a valued colleague due to her depth of insight and tenacious pursuit of systems that work for the end-user. That, combined with her military background, provide for a go-to person who delivers the right results.
      cite Penn State University

    blockquote
      p Melody is a highly organized, highly skilled employee. She learned the Mercersburg Academy Development Office software system quickly and she massages it beautifully, designing and producing original reports in a timely manner. She also adds a great deal to office morale. During her tenure at Mercersburg she also earned a college degree; the work was easier than she expected and the study rounded her out nicely as a human being.
      cite Mercersburg Academy

  a.primary.button(href="https://calendly.com/melody-mcbeth", target="_blank", rel="noopener", title="Schedule a meeting")
    | Start now
    br
    small Schedule a conversation!

  a(href="#top") top