article#intro
  //- +callout(
  //-   "Highland Advancement Solutions Welcomes Donor Relations Guru Partnership",
  //-   fileRoot + "partnership.html#drg")
  //- +callout(
  //-   "Melody Interviews with \"Lead to Succeed\" Podcast.",
  //-   fileRoot + "#podcast")

  img.tagline#taglineHoriz(src=fileRoot + "images/headline-horiz" + svgExt, alt="tagline", title="Manage data, build relationships")
  img.tagline#taglineVert(src=fileRoot + "images/headline-vert" + svgExt, alt="tagline", title="Manage data, build relationships")

  #alt_services
    p
      | Highland Advancement Solutions assists nonprofit organizations with data standardization and operational needs to fulfill their missions and serve the greater good.

      ul(style="color: #4D69B1")
        li Schedule a conversation
        li Complete an assessment
        li Choose level of service
        li Implement for success!

      a.primary.button(href="https://calendly.com/melody-mcbeth", target="_blank", rel="noopener", title="Schedule a meeting")
        | Start now
        br
        small Schedule a conversation!

  #introVideo.rotator(data-timeout="5000", style="height:374px")
    img.video(src=fileRoot + "images/stock5" + pngExt, alt="stock photo", title="Neato!")
    img.video(src=fileRoot + "images/raisersedge" + pngExt, alt="stock photo", title="What did you get for 13b?")
    img.video(src=fileRoot + "images/anon" + pngExt, alt="stock photo", title="Anonymize data for publication")
