mixin callout(title, href, skipTimer)
  .callout(style="display:none", data-skiptimer=skipTimer||false) #[= title] (#[a(href=href) read more...])
    a#closeButton(onclick="this.parentElement.style.display='none';") &times;

article#intro
  +callout(
    "Register for our Development Operations Symposium at Southwestern Oklahoma State University.",
    "https://www.eventbrite.com/e/development-operations-symposium-central-oklahoma-tickets-54173163390",
    true)

  img.tagline#taglineHoriz(src=fileRoot + "images/headline-horiz" + svgExt, alt="tagline", title="Manage data, build relationships")
  img.tagline#taglineVert(src=fileRoot + "images/headline-vert" + svgExt, alt="tagline", title="Manage data, build relationships")

  #alt_services
    p
      | Highland Advancement Solutions assists nonprofit organizations with data standardization and operational needs to fulfill their missions and serve the greater good.

      ul(style="color: #4D69B1")
        li Schedule a conversation
        li Complete an assessment
        li Choose level of service
        li Implement for success!

      a.primary.button(href="https://calendly.com/melody-mcbeth", target="_blank", rel="noopener", title="Schedule a meeting")
        | Start now
        br
        small Schedule a conversation!

  #introVideo.rotator(data-timeout="5000", style="height:374px")
    img.video(src=fileRoot + "images/stock5" + pngExt, alt="stock photo", title="Neato!")
    img.video(src=fileRoot + "images/raisersedge" + pngExt, alt="stock photo", title="What did you get for 13b?")
    img.video(src=fileRoot + "images/anon" + pngExt, alt="stock photo", title="Anonymize data for publication")
