article#intro
  //- +callout(
  //-   "Highland Advancement Solutions Welcomes Donor Relations Guru Partnership",
  //-   fileRoot + "partnership.html#drg")
  //- +callout(
  //-   "Melody Interviews with \"Lead to Succeed\" Podcast.",
  //-   fileRoot + "#podcast")

  img.tagline#taglineHoriz(src=fileRoot + "images/headline-horiz" + svgExt, alt="tagline", title="Manage data, build relationships")
  img.tagline#taglineVert(src=fileRoot + "images/headline-vert" + svgExt, alt="tagline", title="Manage data, build relationships")

  #alt_services
    h4 What is Highland AS?
    p
      | High&shy;land Ad&shy;vance&shy;ment So&shy;lu&shy;tions as&shy;sists non&shy;profit or&shy;ga&shy;ni&shy;za&shy;tions with data stan&shy;dar&shy;di&shy;za&shy;tion and o&shy;per&shy;a&shy;tion&shy;al needs to ful&shy;fill their mis&shy;sions and serve the grea&shy;ter good.

      ol(style="color: #4D69B1")
        li Schedule a conversation
        li Complete an assessment
        li Choose level of service
        li Implement for success!

      a.primary.button(href="https://calendly.com/melody-mcbeth", target="_blank", rel="noopener", title="Schedule a meeting")
        | Start here!
        br
        small Find out how HAS can help your organization

  #introVideo.rotator(data-timeout="5000", style="height:374px")
    img.video(src=fileRoot + "images/stock5" + pngExt, alt="stock photo", title="Neato!")
    img.video(src=fileRoot + "images/raisersedge" + pngExt, alt="stock photo", title="What did you get for 13b?")
    img.video(src=fileRoot + "images/anon" + pngExt, alt="stock photo", title="Anonymize data for publication")
