doctype html
html
  head

    mixin themeColor(color)
      meta(name="web-app-capable", content="yes")
      meta(name="theme-color", content=color)
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content=color)

    mixin description(txt)
      meta(name="description", content=txt)
      meta(property="og:description", content=txt)
      meta(name="twitter:description", content=txt)
    
    mixin logo(img)
      meta(name="twitter:image", content=img)
      meta(property="og:image", content=img)

    mixin fullTitle(txt)  
      meta(property="og:title", content=txt)
      meta(name="twitter:title", content=txt)
      title= txt

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="keywords", content=pkg.keywords.join(", "))

    meta(property="og:type", content="website")
    meta(property="og:url", content=pkg.homepage + filename)
    meta(property="og:site_name", content="Highland FRS")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@HighlandFRS")

    +themeColor("#002610")
    +description(pkg.description)
    +logo("http://www.highlandfrs.com/images/logo.jpg")

    if debug
      link(rel="stylesheet", href="/css/style.css")
    else
      link(rel="stylesheet", href="/css/style.min.css")
    block head
  body
    header
      a#mainLogoWrapper(href="/index.html"): img#mainLogo(src="/images/logo.svg", alt="logo", title="Highland FRS logo")
      nav
        ul
          li: a(href="/#services") services
          li: a(href="/#about") about
          li: a(href="/#contact") contact
          li: a(href="/#customers") customers
          li: a(href="/#news") news
          li: a(href="/downloads.html") downloads
    section#content
      block content
    footer
      block footer
        div Copyright &copy; Highland FRS LLC, 2010 - 2016.
        div The Raiser's Edge&trade; is a registered trademark of Blackbaud&reg;, Inc.
        div Crystal Reports&trade; is a registered trademark of SAP SE&reg;.
        div LinkedIn&reg; is a registered trademark of LinkedIn Corporation.