doctype html
html
  head

    mixin themeColor(color)
      meta(name="web-app-capable", content="yes")
      meta(name="theme-color", content=color)
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content=color)

    mixin description(txt)
      meta(name="description", content=txt)
      meta(property="og:description", content=txt)
      meta(name="twitter:description", content=txt)

    mixin logo(img)
      meta(name="twitter:image", content=img)
      meta(property="og:image", content=img)

    mixin fullTitle(txt)
      meta(property="og:title", content=txt)
      meta(name="twitter:title", content=txt)
      title= txt

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="keywords", content=pkg.keywords.join(", "))

    meta(property="og:type", content="website")
    meta(property="og:url", content=pkg.homepage + filename)
    meta(property="og:site_name", content="Highland FRS")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@HighlandFRS")

    +themeColor("#002610")
    +description(pkg.description)
    +logo("http://www.highlandfrs.com/images/logo" + jpgExt)

    != liveReload
    link(rel="stylesheet", href=fileRoot + "css/style" + cssExt)
    block head
      each file in headerFiles
        script(src=fileRoot + file, async, defer)
  body
    header
      a#mainLogoWrapper(href=fileRoot + "index.html"): img#mainLogo(src=fileRoot + "images/logo" + svgExt, alt="logo", title="Highland FRS logo")
      nav
        ul
          li: a(href=fileRoot + "index.html#services") services
          li: a(href=fileRoot + "index.html#about") about
          li: a(href=fileRoot + "index.html#contact") contact
          li: a(href=fileRoot + "index.html#customers") customers
          li: a(href=fileRoot + "index.html#news") news
          li: a(href=fileRoot + "downloads.html") downloads
    section#content
      block content
    footer
      block footer
        | Copyright &copy; Highland FRS LLC, 2010 - 2016.
        | The Raiser's Edge&trade; is a registered trademark of Blackbaud&reg;, Inc.
        | Crystal Reports&trade; is a registered trademark of SAP SE&reg;.
        | LinkedIn&reg; is a registered trademark of LinkedIn Corporation.
      #admin
        a#login(href=fileRoot + "login") login
        a#logout(href=fileRoot + "logout", style="display: none") logout
        |  -
        a#contacts(href=fileRoot + "contacts") contacts
        |  -
        a#contacts(href=fileRoot + "users") users
        script(type="text/javascript").
          window.addEventListener("load", function(){
            var login = document.querySelector("#login"),
              logout = document.querySelector("#logout"),
              authed = /\btoken\b/.test(document.cookie);
            login.style.display = authed ? "none" : "";
            logout.style.display = authed ? "" : "none";
          });
