article#news
  h3: a(name="#news") News
  blockquote
    img(src=fileRoot + "images/Wayne_Combs_thumb" + jpgExt, title="Dr. Wayne Combs", alt="photograph")
    cite
      a(href=fileRoot + "partnership.html", target="_blank") Highland FRS Welcomes new Strategic Partner, Wayne Combs
    p Highland Fundraising Solutions is pleased to welcome Wayne Combs, Ed.D. as a strategic partner in the role of campaign counsel. Combs has more than 20 years of experience in fundraising and will be a key asset in Highland's capital and comprehensive campaign division. Combs' experience in performing organizational assessments, evaluating business systems and data management, applying process improvement techniques in advancement services, directing budget management, and supporting a $6 billion dollar campaign will augment the firm's current services.
    small (2016-01-04)
  blockquote
    img(src=fileRoot + "images/AASP2015_Award_thumb" + jpgExt, title="AASP SUMMIT 2015 logo", alt="logo")
    cite
      a(href="http://www.advserv.org/?page=Summit2015", target="_blank") Melody McBeth wins Volunteer of the Year Award at AASP SUMMIT 2015
    p Highland Fundraising Solutions Principal Melody McBeth, AASP Program Committee Chair, received the 2015 Volunteer of the Year Award. Pictured here with Director of Development Services, Utah Valley University Bart Jacobs, AASP Membership Committee Chair, who received the 2015 Emerging Leader Award.
    small (2015-10-29)
  blockquote
    img(src=fileRoot + "images/SUMMIT2015" + pngExt, title="AASP SUMMIT 2015 logo", alt="logo")
    cite
      a(href="http://www.advserv.org/?page=Summit2015", target="_blank") Association of Advancement Services Professionals SUMMIT 2015 Silver-level Sponsor
    p Summit 2015 took place Oct. 28-30 in Chicago. Over the three-day conference, a record-breaking attendance of over 440 advancement services professionals participated in educational sessions, networking events, and special outings in downtown Chicago&hellip;
    small (2015-10-28)
  blockquote
    img(src=fileRoot + "images/GTsimpleOrange" + jpgExt, title="GeoTech Consulting logo", alt="logo")
    cite
      a(href="https://www.buzzsprout.com/49661/317648-d-c-entrepreneur-episode-2", target="_blank") D.C. Entrepreneur: Episode 2 - George Mocharko
    p D.C. Entrepreneur interviews Sean T. McBeth about his work in web VR, talking about the future potential of Virtual Reality.
    small (2015-10-22)
  blockquote
    img(src=fileRoot + "images/DCInno" + pngExt, title="DCInno logo", alt="logo")
    cite
      a(href="http://dcinno.streetwise.co/2015/08/14/washington-dc-virtual-reality-vr-tech-startups-hub/", target="_blank") DCInno: The State of DC Virtual Reality Innovation: Part 1 - Chris Bing
    p The Washington, D.C., area could very well become a hub for virtual reality innovation in the coming years&hellip;
    small (2015-08-14)
  blockquote
    img(src=fileRoot + "images/dream" + jpgExt, title="dream", alt="illustration")
    cite
      a(href="http://virtualworldsociety.org/wordpress1/dream-of-the-future/", target="_blank") Virtual World Society: Dream of the Future
    p Virtual Worlds are blending into our habitable universe and expanding future possibilities within our everyday lives.  Our ability to connect and share ideas, dreams and accomplishments is unprecedented. Virtual worlds are no longer just branded escapist experiences, but they are augmenting our human powers of creativity, passion and the imagination. We are getting ready to launch into the next "giant leap" into the empowered human experience&hellip;
    small (2015-08-04)
  blockquote
    img(src=fileRoot + "images/melodytammy" + jpgExt, title="Melody and Tammy", alt="photo")
    cite
      a(href="http://www.advserv.org/?page=AASPirationMarch14#Member", target="_blank") AASPiration March 2014 Member Spotlight
    p AASP strives to create a close community of Advancement Services professionals, but for Melody Allen McBeth and Tammy Armstrong, the industry truly is a family affair. Melody, Director of Development Information Systems and Services and Interim Director of Gift Administration at The Children's Hospital Foundation, and her daughter Tammy, Director of Analytics at Oregon Episcopal School, share a passion for analytics and child welfare. Though their unique career paths brought them to different areas of the nonprofit sector, the two never run out of stories to share. Whether it's working out puzzling Crystal Reports over the phone or recapping sessions from the latest annual Summit, Melody and Tammy always find a resource in each other's encouragement and expertise&hellip;
    div (2014-03-13)
  a(href=fileRoot + "#top") top
