article#news
  h3: a(name="news_anchor") News

  blockquote
    img(src=fileRoot + "images/DRG_logo" + pngExt, title="Donor Relations Guru", alt="logo")
    cite #[a(href=fileRoot + "partnership.html#drg") Highland Fundraising Solutions Welcomes Donor Relations Guru Partnership] #[small (2017-09-18)]
    p New Strategic Partnership Announcement

    p Furthering its dedication to providing “Answers that Fit”, Highland Fundraising Solutions, LLC is pleased to announce its strategic partnership with the DRG Group, recognized as one of the top resources for donor relations consulting in the non-profit industry.

  blockquote
    img(src=fileRoot + "images/Wayne_Combs_thumb" + jpgExt, title="Dr. Wayne Combs", alt="photograph")
    cite #[a(href=fileRoot + "partnership.html#combs") Highland FRS Welcomes new Strategic Partner, Wayne Combs] #[small (2016-01-04)]
    p Highland Fundraising Solutions is pleased to welcome Wayne Combs, Ed.D. as a strategic partner in the role of campaign counsel. Combs has more than 20 years of experience in fundraising and will be a key asset in Highland's capital and comprehensive campaign division. Combs' experience in performing organizational assessments, evaluating business systems and data management, applying process improvement techniques in advancement services, directing budget management, and supporting a $6 billion dollar campaign will augment the firm's current services.

  blockquote
    img(src=fileRoot + "images/AASP2015_Award_thumb" + jpgExt, title="AASP SUMMIT 2015 logo", alt="logo")
    cite #[a(href="http://www.advserv.org/?page=Summit2015", target="_blank", rel="noopener") Melody McBeth wins Volunteer of the Year Award at AASP SUMMIT 2015] #[small (2015-10-29)]
    p Highland Fundraising Solutions Principal Melody McBeth, AASP Program Committee Chair, received the 2015 Volunteer of the Year Award. Pictured here with Director of Development Services, Utah Valley University Bart Jacobs, AASP Membership Committee Chair, who received the 2015 Emerging Leader Award.

  blockquote
    img(src=fileRoot + "images/SUMMIT2015" + pngExt, title="AASP SUMMIT 2015 logo", alt="logo")
    cite #[a(href="http://www.advserv.org/?page=Summit2015", target="_blank", rel="noopener") Association of Advancement Services Professionals SUMMIT 2015 Silver-level Sponsor] #[small (2015-10-28)]
    p Summit 2015 took place Oct. 28-30 in Chicago. Over the three-day conference, a record-breaking attendance of over 440 advancement services professionals participated in educational sessions, networking events, and special outings in downtown Chicago&hellip;

  blockquote
    img(src=fileRoot + "images/melodytammy" + jpgExt, title="Melody and Tammy", alt="photo")
    cite #[a(href="http://www.advserv.org/?page=AASPirationMarch14#Member", target="_blank", rel="noopener") AASPiration March 2014 Member Spotlight] #[small (2014-03-13)]
    p AASP strives to create a close community of Advancement Services professionals, but for Melody Allen McBeth and Tammy Armstrong, the industry truly is a family affair. Melody, Director of Development Information Systems and Services and Interim Director of Gift Administration at The Children's Hospital Foundation, and her daughter Tammy, Director of Analytics at Oregon Episcopal School, share a passion for analytics and child welfare. Though their unique career paths brought them to different areas of the nonprofit sector, the two never run out of stories to share. Whether it's working out puzzling Crystal Reports over the phone or recapping sessions from the latest annual Summit, Melody and Tammy always find a resource in each other's encouragement and expertise&hellip;

  a(href=fileRoot + "index.html#top") top
